#grid {
  display: flex;
  flex-direction: column;

  width: 500px;
  height: 500px;
}

.row {
  display: flex;
  flex-direction: row;
}

.grid-square {
  border: 1px solid black;
}

.colored {
  background-color: grey;
}