#grid {
  display: flex;
  flex-direction: column;

  width: 500px;
  height: 500px;

  background-color: aliceblue;
}

.row {
  display: flex;
  flex-direction: row;
}

.grid-square {
  border-radius: 5px;
  margin: 1px;

  background-color: white;
}

.colored {
  background-color: grey;
}